asn1crypto==0.24.0
cffi==1.11.4
cryptography==2.1.4
Django==2.0.1
django-rest-knox==3.1.2
djangorestframework==3.7.7
flake8==3.5.0
gunicorn==19.7.1
idna==2.6
mccabe==0.6.1
psycopg2==2.7.3.2
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
pyOpenSSL==17.5.0
pytz==2017.3
six==1.11.0
yapf==0.20.1
